@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    background-color: lightgray;
    height: 80px;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    z-index: 1; /* Add z-index to ensure header is on top of other content */
  }

  .logo {
    margin-left: 22px;
  }

  .iconePessoas {
    margin-right: 22px;
  }

  .container {
    width: 100%;
    padding-top: 100px;
    height: calc(100vh - 180px);
    overflow-y: auto; /* Add vertical scroll functionality for overflowing content */
    overflow-x: hidden; /* Hide horizontal scroll */
    word-wrap: break-word; /* Add word-wrap property to allow long words to wrap to a new line */
    margin-left: 0px;
  }

  .footer-container {
    width: 100%;
    background-color: lightgray;
    height: 80px;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    z-index: 1; /* Add z-index to ensure footer is on top of other content */
  }

  #divBusca {
    background-color: lightgray;
    border-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
  }

  #send-button {
    margin-right: 22px;
    cursor: pointer;
  }

  #chat-input {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    bottom: 0;
    width: 100%;
    margin-left: 22px;
  }

  input {
    padding: 0;
    margin: 5px 0;
    outline: none;
  }

  #chat-input:focus,
  #chat-input:active {
    border-color: transparent;
    border-bottom: 2px solid #1c87c9;
  }

  #chat-messages {
    padding-bottom: 10px;
    overflow-wrap: anywhere; /* Use overflow-wrap with 'anywhere' value as an alternative */
    white-space: pre-wrap; /* Add word-wrap property to allow long messages to wrap to a new line */
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    
    
    
    
   
    
  }

  .custom-list-style {
    list-style-type: none !important; /* set to none to remove bullet point marker */
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin: 0;
  }

  
  
    

  

 
      
  .message-box {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    justify-content: center;
    margin-left: -45px;
    flex-grow: 1; /* Add flex-grow property to fill available content */
    width: 650px;
  }

  .time {
    color: #aaaaaa;
    display: inline-block;
    position: relative;
  }
  
  .time::before {
    content: "(";
    color: #aaaaaa;
    position: absolute;
    left: -5px;
  }
  
  .time::after {
    content: ")";
    color: #aaaaaa;
    position: absolute;
    right: -5px;
  }
}



    
  

